body{
  background-color: rgb(216, 216, 216);
}
#__next{
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  #__next{
      flex-direction: column-reverse;
  }
}